# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Node.js
node_modules/
dist/

# Variables d’environnement
.env
.env.*
!.env.example

# SQLite
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
